body {
    margin: 0;
    font-family: Verdana, Geneva;
    color: white;
    background-color: rgb(65, 65, 65);
}

header {
    width: 100%;
    height: 60px;
    color: white;
    background-color: rgb(0, 69, 172);
    display: flex;
    align-items: center;
}

footer {
    background-color: rgb(100, 100, 100);
    position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
    display: grid;
    grid-template-columns: 20% 80%;
}

#hText {
    position: relative;
    margin: auto;
    font-size: 30px;
    font-family: "Comic Sans MS", "Comic Sans";
}

.mono {
    font-family: "Courier New", Courier;
    list-style-type: circle;
}

.icon {
    height: 30px;
    width: 30px;
}

h3 {
    margin-bottom: 5px;
}

ul {
    margin-top: 5px;
}

#comic {
    justify-self: right;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

#icons {
    margin-left: 5px;
}